.plyr--full-ui {
  @apply h-screen w-screen;
}

.plyr--full-ui input[type=range] {
  color: #ff0000!important;
}
  
.plyr__control--overlaid {
  background: rgba(255, 0, 0, .8);
}
  
.plyr--video .plyr__control.plyr__tab-focus,
.plyr--video .plyr__control:hover,
.plyr--video .plyr__control[aria-expanded=true] {
  background: #ff0000;
}
  
.plyr__control.plyr__tab-focus {
  box-shadow: 0 0 0 5px rgba(255, 0, 0, .5);
}
  
.plyr__menu__container .plyr__control[role=menuitemradio][aria-checked=true]::before {
  background: YourColor;
}